In [3]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("arashnic/dynamic-pricing-dataset")

print("Path to dataset files:", path)

# description of the problem
# https://www.kaggle.com/datasets/arashnic/dynamic-pricing-dataset/data

Path to dataset files: C:\Users\Vitor\.cache\kagglehub\datasets\arashnic\dynamic-pricing-dataset\versions\1

About Dataset
A ride-sharing company wants to implement a dynamic pricing strategy to optimize fares based on real-time market conditions. The company only uses ride duration to decide ride fares currently. The company aims to leverage data-driven techniques to analyze historical data and develop a predictive model that can dynamically adjust prices in response to changing factors.

The dataset containing historical ride data has been provided. It includes features such as the number of riders, number of drivers, location category, customer loyalty status, number of past rides, average ratings, time of booking, vehicle type, expected ride duration, and historical cost of the rides.

Your goal is to build a dynamic pricing model that incorporates the provided features to predict optimal fares for rides in real-time. The model must consider factors such as demand patterns and supply availability.

In [ ]:
import pandas as pd
import os

# Caminho completo
csv_path = os.path.join(path, "dynamic_pricing.csv")

# Carregar o dataset
df = pd.read_csv(csv_path)
df.head(7)

,Number_of_Riders,Number_of_Drivers,Location_Category,Customer_Loyalty_Status,Number_of_Past_Rides,Average_Ratings,Time_of_Booking,Vehicle_Type,Expected_Ride_Duration,Historical_Cost_of_Ride
0,90,45,Urban,Silver,13,4.47,Night,Premium,90,284.257273
1,58,39,Suburban,Silver,72,4.06,Evening,Economy,43,173.874753
2,42,31,Rural,Silver,0,3.99,Afternoon,Premium,76,329.795469
3,89,28,Rural,Regular,67,4.31,Afternoon,Premium,134,470.201232
4,78,22,Rural,Regular,74,3.77,Afternoon,Economy,149,579.681422
5,59,35,Urban,Silver,83,3.51,Night,Economy,128,339.955361
6,93,43,Suburban,Regular,44,4.41,Afternoon,Premium,16,104.061541

In [20]:
display(df.dtypes)

Number_of_Riders             int64
Number_of_Drivers            int64
Location_Category           object
Customer_Loyalty_Status     object
Number_of_Past_Rides         int64
Average_Ratings            float64
Time_of_Booking             object
Vehicle_Type                object
Expected_Ride_Duration       int64
Historical_Cost_of_Ride    float64
dtype: object

In [19]:
# Visualizando a classe e o volume de dados
print('Tipo de dado:', type(df) )
print('Dimensão:', df.shape,
      '\nEntradas:', df.shape[0],
      '\nVariáveis:', df.shape[1])

Tipo de dado: <class 'pandas.core.frame.DataFrame'>
Dimensão: (1000, 10)
Entradas: 1000
Variáveis: 10

In [26]:
import pandas as pd
from src import eda

eda.basic_info(df)

📋 Informações do DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Number_of_Riders         1000 non-null   int64
 1   Number_of_Drivers        1000 non-null   int64
 2   Location_Category        1000 non-null   object
 3   Customer_Loyalty_Status  1000 non-null   object
 4   Number_of_Past_Rides     1000 non-null   int64
 5   Average_Ratings          1000 non-null   float64
 6   Time_of_Booking          1000 non-null   object
 7   Vehicle_Type             1000 non-null   object
 8   Expected_Ride_Duration   1000 non-null   int64
 9   Historical_Cost_of_Ride  1000 non-null   float64
dtypes: float64(2), int64(4), object(4)
memory usage: 78.3+ KB
None

🔍 Primeiras linhas:
   Number_of_Riders  Number_of_Drivers Location_Category  \
0                90                 45             Urban
1                58                 39          Suburban
2                42                 31             Rural
3                89                 28             Rural
4                78                 22             Rural

  Customer_Loyalty_Status  Number_of_Past_Rides  Average_Ratings  \
0                  Silver                    13             4.47
1                  Silver                    72             4.06
2                  Silver                     0             3.99
3                 Regular                    67             4.31
4                 Regular                    74             3.77

  Time_of_Booking Vehicle_Type  Expected_Ride_Duration  \
0           Night      Premium                      90
1         Evening      Economy                      43
2       Afternoon      Premium                      76
3       Afternoon      Premium                     134
4       Afternoon      Economy                     149

   Historical_Cost_of_Ride
0               284.257273
1               173.874753
2               329.795469
3               470.201232
4               579.681422

🧮 Estatísticas descritivas:
       Number_of_Riders  Number_of_Drivers  Number_of_Past_Rides  \
count       1000.000000        1000.000000           1000.000000
mean          60.372000          27.076000             50.031000
std           23.701506          19.068346             29.313774
min           20.000000           5.000000              0.000000
25%           40.000000          11.000000             25.000000
50%           60.000000          22.000000             51.000000
75%           81.000000          38.000000             75.000000
max          100.000000          89.000000            100.000000

       Average_Ratings  Expected_Ride_Duration  Historical_Cost_of_Ride
count      1000.000000              1000.00000              1000.000000
mean          4.257220                99.58800               372.502623
std           0.435781                49.16545               187.158756
min           3.500000                10.00000                25.993449
25%           3.870000                59.75000               221.365202
50%           4.270000               102.00000               362.019426
75%           4.632500               143.00000               510.497504
max           5.000000               180.00000               836.116419

In [25]:
eda.missing_values(df)

🚫 Valores ausentes por coluna:
Empty DataFrame
Columns: [Total Missing, %]
Index: []